<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Your Folders</title>
  </head>
  <body>
    <header>
      <h1>Your Folders</h1>
      <nav>
        <a href="/auth/logout">Logout</a>
      </nav>
    </header>

    <main>
      <div>
        <form action="/folder/new" method="POST" style="margin-bottom: 20px">
          <input type="text" name="name" placeholder="Folder name" required />
          <button type="submit">Add Folder</button>
        </form>
      </div>
      <% if (folders && folders.length > 0) { %>
      <ul>
        <% folders.forEach(folder => { %>
        <li>
          <a href="/folder/<%= folder.id %>"> <%= folder.name %> </a>
        </li>
        <% }) %>
      </ul>
      <% } else { %>
      <p>You don't have any folders yet.</p>
      <% } %>
    </main>
  </body>
</html>
