<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Your Folders</title>
  </head>
  <body>
    <header>
      <h1>Your Folders</h1>
      <nav>
        <a href="/auth/logout">Logout</a>
      </nav>
    </header>

    <main>
      <% if (folders && folders.length > 0) { %>
      <ul>
        <% folders.forEach(folder => { %>
        <li>
          <a href="/folder/<%= folder._id %>"> <%= folder.name %> </a>
        </li>
        <% }) %>
      </ul>
      <% } else { %>
      <p>You don't have any folders yet.</p>
      <% } %>
    </main>
  </body>
</html>
